* {
  padding: 0px;
  margin: 0px;
}
.page-container{
  margin: 10px;
  padding: 10px;
}
.sub-page-container {
  margin: 10px;
  padding: 10px;
}
.project-card{
  font-size: 13px;
  margin: 10px;
}
.m-block-10{
  margin-block: 0px;
}
.p-block-10{
  padding-block: 0px;
}